
.modal{
    position :fixed;
    top: 25%;
    left: 50%;

    animation :show .25s ease forwards;
    z-index :22;
    background :#fafafa;
    padding: 1rem;
    min-height: 200px;
    min-width :200px;
    display: flex;
    align-items: center;
    justify-content: center;

}
__close {
    position: absolute;
    top: 4px;
    right: 4px;
    font-size: 1.25rem;
    font-weight: bold;
}

@-moz-keyframes show {
    to {
        transform: translate(-50%, -50%) scale(1);
    }
}

@-webkit-keyframes show {
    to {
        transform: translate(-50%, -50%) scale(1);
    }
}

@-o-keyframes show {
    to {
        transform: translate(-50%, -50%) scale(1);
    }
}

@keyframes show {
    to {
        transform: translate(-50%, -50%) scale(1);
    }
}