img{
    width: 100%;
}

.modal{
    position: fixed;
    top: 0;
    left: 0;
    width:100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.38);
    display: grid;
    align-content: center;
    justify-content: center;


}
.main{

    background: white;
    padding: 2rem;
    margin: 2rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1rem;
}
@media screen {

}

__close {
    position: absolute;
    top: 4px;
    right: 4px;
    font-size: 1.25rem;
    font-weight: bold;
}

@-moz-keyframes show {
    to {
        transform: translate(-50%, -50%) scale(1);
    }
}

@-webkit-keyframes show {
    to {
        transform: translate(-50%, -50%) scale(1);
    }
}

@-o-keyframes show {
    to {
        transform: translate(-50%, -50%) scale(1);
    }
}

@keyframes show {
    to {
        transform: translate(-50%, -50%) scale(1);
    }
}